<!DOCTYPE html>
<html lang="zh" data-darkmode="{{ get_darkmode_state() }}">

  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="description" content="自托管的网站变更监控。" >
    <meta name="robots" content="noindex">
    <title>网站变更检测{{extra_title}}</title>
    {% if app_rss_token %}
      <link rel="alternate" type="application/rss+xml" title="Changedetection.io » Feed{% if active_tag_uuid %}- {{active_tag.title}}{% endif %}" href="{{ url_for('rss.feed', tag=active_tag_uuid , token=app_rss_token)}}" >
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static_content', group='styles', filename='pure-min.css')}}" >
    <link rel="stylesheet" href="{{url_for('static_content', group='styles', filename='styles.css')}}?v={{ get_css_version() }}" >
    {% if extra_stylesheets %}
      {% for m in extra_stylesheets %}
        <link rel="stylesheet" href="{{ m }}?ver={{ get_css_version() }}" >
      {% endfor %}
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static_content', group='favicons', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static_content', group='favicons', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static_content', group='favicons', filename='favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static_content', group='favicons', filename='site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static_content', group='favicons', filename='safari-pinned-tab.svg')}}" color="#5bbad5">
    <link rel="shortcut icon" href="{{url_for('static_content', group='favicons', filename='favicon.ico')}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script>
        const csrftoken="{{ csrf_token() }}";
        const socketio_url="{{ get_socketio_path() }}/socket.io";
        const is_authenticated = {% if current_user.is_authenticated or not has_password %}true{% else %}false{% endif %};
    </script>
    <script src="{{url_for('static_content', group='js', filename='jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static_content', group='js', filename='csrf.js')}}" defer></script>
    <script src="{{url_for('static_content', group='js', filename='feather-icons.min.js')}}" defer></script>
    {% if socket_io_enabled %}
    <script src="{{url_for('static_content', group='js', filename='socket.io.min.js')}}"></script>
    <script src="{{url_for('static_content', group='js', filename='realtime.js')}}" defer></script>
    {% endif %}
  </head>

  <body class="{{extra_classes}}">
    <div class="header">
    <div class="pure-menu-fixed" style="width: 100%;">
      <div class="home-menu pure-menu pure-menu-horizontal" id="nav-menu">

        {% if has_password and not current_user.is_authenticated %}
          <a class="pure-menu-heading" href="https://changedetection.io" rel="noopener">
            <strong>Change</strong>Detection.io</a>
        {% else %}
          <a class="pure-menu-heading" href="{{url_for('watchlist.index')}}">
            <strong>Change</strong>Detection.io</a>
        {% endif %}
        {% if current_diff_url and is_safe_valid_url(current_diff_url) %}
          <a class="current-diff-url" href="{{ current_diff_url }}">
            <span style="max-width: 30%; overflow: hidden">{{ current_diff_url }}</span></a>
        {% else %}
          {% if new_version_available and not(has_password and not current_user.is_authenticated) %}
            <span id="new-version-text" class="pure-menu-heading">
              <a href="https://changedetection.io">有新版本可用</a>
            </span>
          {% endif %}
        {% endif %}

        <ul class="pure-menu-list" id="top-right-menu">
          {% if current_user.is_authenticated or not has_password %}
            {% if not
            current_diff_url %}
              <li class="pure-menu-item">
                <a href="{{ url_for('tags.tags_overview_page')}}" class="pure-menu-link">分组</a>
              </li>
              <li class="pure-menu-item">
                <a href="{{ url_for('settings.settings_page')}}" class="pure-menu-link">设置</a>
              </li>
              <li class="pure-menu-item">
                <a href="{{ url_for('imports.import_page')}}" class="pure-menu-link">导入</a>
              </li>
              <li class="pure-menu-item">
                <a href="{{ url_for('backups.index')}}" class="pure-menu-link">备份</a>
              </li>
            {% else %}
              <li class="pure-menu-item">
                <a href="{{ url_for('ui.ui_edit.edit_page', uuid=uuid, next='diff') }}" class="pure-menu-link">编辑</a>
              </li>
            {% endif %}
          {% else %}
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="https://changedetection.io">网站变更检测与通知。</a>
            </li>
          {% endif %}
          {% if current_user.is_authenticated %}
            <li class="pure-menu-item">
              <a href="{{url_for('logout')}}" class="pure-menu-link">退出登录</a>
            </li>
          {% endif %}
          {% if current_user.is_authenticated or not has_password %}
          <li class="pure-menu-item pure-form" id="search-menu-item">
            <!-- We use GET here so it offers people a chance to set bookmarks etc -->
            <form name="searchForm" action="" method="GET">
              <input id="search-q" class="" name="q" placeholder="URL 或标题 {% if active_tag_uuid %}在 '{{ active_tag.title }}' 中{% endif %}" required="" type="text" value="">
              <input name="tags" type="hidden" value="{% if active_tag_uuid %}{{active_tag_uuid}}{% endif %}">
              <button class="toggle-button " id="toggle-search" type="button" title="搜索，或使用 Alt+S 快捷键" >
                {% include "svgs/search-icon.svg" %}
              </button>
            </form>
          </li>
          {% endif %}
          <li class="pure-menu-item">
            <button class="toggle-button" id ="toggle-light-mode" type="button" title="切换明暗模式">
              <span class="visually-hidden">切换明暗模式</span>
              <span class="icon-light">
                {% include "svgs/light-mode-toggle-icon.svg" %}
              </span>
              <span class="icon-dark">
                {% include "svgs/dark-mode-toggle-icon.svg" %}
              </span>
            </button>
          </li>
          <li class="pure-menu-item" id="heart-us">
                <svg
                   fill="#ff0000"
                   class="bi bi-heart"
                   preserveAspectRatio="xMidYMid meet"
                   viewBox="0 0 16.9 16.1"
                   id="svg-heart"
                   xmlns="http://www.w3.org/2000/svg"
                   >
                  <path id="heartpath" d="M 5.338316,0.50302766 C 0.71136983,0.50647126 -3.9576371,7.2707777 8.5004254,15.503028 23.833425,5.3700277 13.220206,-2.5384409 8.6762066,1.6475589 c -0.060791,0.054322 -0.11943,0.1110064 -0.1757812,0.1699219 -0.057,-0.059 -0.1157813,-0.116875 -0.1757812,-0.171875 C 7.4724566,0.86129334 6.4060729,0.50223298 5.338316,0.50302766 Z"
                     style="fill:var(--color-background);fill-opacity:1;stroke:#ff0000;stroke-opacity:1" />
                </svg>

          </li>
          <li class="pure-menu-item">
            <a class="github-link" href="https://github.com/dgtlmoon/changedetection.io">
              {% include "svgs/github.svg" %}
            </a>
          </li>
        </ul>
      </div>
      <div id="pure-menu-horizontal-spinner"></div>
      </div>

    </div>


    {% if hosted_sticky %}
      <div class="sticky-tab" id="hosted-sticky">
        <a href="https://changedetection.io/?ref={{guid}}">让我们来托管你的实例！</a>
      </div>
    {% endif %}
    {% if left_sticky %}
      <div class="sticky-tab" id="left-sticky">
        <a href="{{url_for('ui.ui_views.preview_page', uuid=uuid)}}">显示当前快照</a><br>
          可视化 <strong>触发器</strong> 和 <strong>忽略的文本</strong>
      </div>
    {% endif %}
    {% if right_sticky %}
      <div class="sticky-tab" id="right-sticky">{{ right_sticky }}</div>
    {% endif %}
    <section class="content">
        <div id="overlay">
            <div class="content">
                <h4>试试我们的 Chrome 扩展</h4>
                <p>
                    <a id="chrome-extension-link"
                       title="Chrome 扩展 - 使用 changedetection.io 监控网页变更！"
                       href="https://chromewebstore.google.com/detail/changedetectionio-website/kefcfmgmlhmankjmnbijimhofdjekbop">
                        <img alt="Chrome store icon" src="{{url_for('static_content', group='images', filename='google-chrome-icon.png')}}">
                        Chrome 网上应用店
                    </a>
                </p>
                只需点击即可把当前网页添加到 changedetection.io，更多功能即将上线！
                <h4>Changedetection.io 需要你的支持！</h4>
                <p>
                    欢迎在以下平台支持 changedetection.io：
                </p>
                <p>
                <ul>
                    <li>
                        <a href="https://alternativeto.net/software/changedetection-io/about/" title="在 alternativeto.net 评价 changedetection.io">在 AlternativeTo.net 为我们评分</a>
                    </li>
                <li>
                    <a href="https://github.com/dgtlmoon/changedetection.io" title="在 GitHub 上关注 changedetection.io">在 GitHub 为我们加星</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://twitter.com/change_det_io" title="在 Twitter 上关注 changedetection.io">在 Twitter/X 上关注我们</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.g2.com/products/changedetection-io/reviews" title="在 G2 上查看 changedetection.io 评价">G2 软件评价</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.linkedin.com/company/changedetection-io" title="在 LinkedIn 上查看 changedetection.io">在 LinkedIn 上关注我们</a>
                </li>
                <li>
                    也欢迎告诉你的朋友和同事 :)
                </li>
                </ul>
                <p>
                    changedetection.io 越受欢迎，我们就能投入更多时间打造更多功能！
                </p>
                <p>
                    非常感谢 :)<br>
                </p>
                <p>
                    <i>changedetection.io 团队</i>
                </p>
            </div>
        </div>
        <header>
        {% block header %}{% endblock %}
      </header>

      {% with messages = get_flashed_messages(with_categories = true) %}
      {% if
      messages %}
        <ul class="messages">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
      {% if session['share-link'] %}
        <ul class="messages with-share-link">
          <li class="message">
            分享此链接：
            <span id="share-link">{{ session['share-link'] }}</span>
            <img style="height: 1em; display: inline-block" src="{{url_for('static_content', group='images', filename='copy.svg')}}" >
          </li>
        </ul>
      {% endif %}
      {% block content %}{% endblock %}
    </section>
    <script src="{{url_for('static_content', group='js', filename='toggle-theme.js')}}" defer></script>

    <div id="checking-now-fixed-tab" style="display: none;"><span class="spinner"></span><span>&nbsp;正在检查</span></div>
    <div id="realtime-conn-error" style="display:none">实时更新已离线</div>
  </body>

</html>
